@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Porkys';
    src: url('/front/Pork\ Belly.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
.hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }
.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }
  
  .alert-yellow {
    @apply bg-yellow-50 border-l-4 border-yellow-400 text-yellow-800 p-4 mb-6 text-sm rounded;
  }
  